In [26]:
import pandas as pd
import numpy as np

from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Mounted at /content/drive

In [27]:
file = "drive//MyDrive//RAW//superbowl_all.csv"
data = pd.read_csv(file).set_index("Unnamed: 0")
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38416 entries, 0 to 38415
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38416 non-null  object
 1   sports_book_name      38416 non-null  object
 2   name                  38416 non-null  object
 3   price                 38416 non-null  float64
 4   checked_date          38416 non-null  object
 5   bet_points            33298 non-null  float64
 6   is_main               38416 non-null  bool
 7   is_live               38416 non-null  bool
 8   market_name           38416 non-null  object
 9   home_rotation_number  216 non-null    float64
 10  away_rotation_number  216 non-null    float64
 11  deep_link_url         0 non-null      float64
 12  player_id             18143 non-null  object
 13  game_id               38416 non-null  object
 14  game_sport            38416 non-null  object
 15  game_league           38416 non-null  object
 16  game_start_date       38416 non-null  object
 17  game_home_team        38416 non-null  object
 18  game_away_team        38416 non-null  object
 19  game_is_live          38416 non-null  bool
dtypes: bool(3), float64(5), object(12)
memory usage: 5.4+ MB

In [28]:
#@title 1st Half Money Line DataFrame
##creating a mask for the first half moneyline
money_line  = data[data["market_name"] == "1st Half Moneyline"]
money_line.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 37735
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    164 non-null    object
 1   sports_book_name      164 non-null    object
 2   name                  164 non-null    object
 3   price                 164 non-null    float64
 4   checked_date          164 non-null    object
 5   bet_points            0 non-null      float64
 6   is_main               164 non-null    bool
 7   is_live               164 non-null    bool
 8   market_name           164 non-null    object
 9   home_rotation_number  4 non-null      float64
 10  away_rotation_number  4 non-null      float64
 11  deep_link_url         0 non-null      float64
 12  player_id             0 non-null      object
 13  game_id               164 non-null    object
 14  game_sport            164 non-null    object
 15  game_league           164 non-null    object
 16  game_start_date       164 non-null    object
 17  game_home_team        164 non-null    object
 18  game_away_team        164 non-null    object
 19  game_is_live          164 non-null    bool
dtypes: bool(3), float64(5), object(12)
memory usage: 23.5+ KB

In [29]:
money_line.head()

,id,sports_book_name,name,price,checked_date,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,game_sport,game_league,game_start_date,game_home_team,game_away_team,game_is_live
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
0,35BD9B7B0DC5,5Dimes,Kansas City Chiefs,100.0,2023-02-06T08:27:18-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
1,0EA473D0A226,5Dimes,Philadelphia Eagles,-120.0,2023-02-06T08:27:18-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
1454,4213A52FFD9E,Barstool,Kansas City Chiefs,100.0,2023-02-07T06:17:59-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
1455,F26A2BE40785,Barstool,Philadelphia Eagles,-124.0,2023-02-07T07:56:13-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
2204,C1BDC5DF3B2E,Betano,Kansas City Chiefs,100.0,2023-02-07T11:27:24-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False

In [30]:
two_sided = pd.DataFrame(money_line)
two_sided.drop(columns=["id","checked_date","price","sports_book_name"],inplace=True)

In [31]:
two_sided.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 0 to 37735
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   name                  164 non-null    object
 1   bet_points            0 non-null      float64
 2   is_main               164 non-null    bool
 3   is_live               164 non-null    bool
 4   market_name           164 non-null    object
 5   home_rotation_number  4 non-null      float64
 6   away_rotation_number  4 non-null      float64
 7   deep_link_url         0 non-null      float64
 8   player_id             0 non-null      object
 9   game_id               164 non-null    object
 10  game_sport            164 non-null    object
 11  game_league           164 non-null    object
 12  game_start_date       164 non-null    object
 13  game_home_team        164 non-null    object
 14  game_away_team        164 non-null    object
 15  game_is_live          164 non-null    bool
dtypes: bool(3), float64(4), object(9)
memory usage: 18.4+ KB

In [32]:
two_sided_moneyline = pd.DataFrame()
for column in two_sided.columns:
  val = [i for i in two_sided[column].unique()]
  if len(val) <=1:
    val.append(val[0])
  two_sided_moneyline[column] = val

In [33]:
two_sided_moneyline.head()

,name,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,game_sport,game_league,game_start_date,game_home_team,game_away_team,game_is_live
0,Kansas City Chiefs,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
1,Philadelphia Eagles,NaN,True,False,1st Half Moneyline,102.0,101.0,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False

In [34]:
###Kansas City Chiefs mask to get the betting centers which allow betting the team
KansasCityChiefs = money_line[money_line["name"] == "Kansas City Chiefs"]
PhiladelphiaEagles	 = money_line[money_line["name"] == "Philadelphia Eagles"]
KansasCityChiefs[0:10]

,id,sports_book_name,name,price,checked_date,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,game_sport,game_league,game_start_date,game_home_team,game_away_team,game_is_live
Unnamed: 0,,,,,,,,,,,,,,,,,,,,
0,35BD9B7B0DC5,5Dimes,Kansas City Chiefs,100.0,2023-02-06T08:27:18-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
1454,4213A52FFD9E,Barstool,Kansas City Chiefs,100.0,2023-02-07T06:17:59-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
2204,C1BDC5DF3B2E,Betano,Kansas City Chiefs,100.0,2023-02-07T11:27:24-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
2623,1E8305D7B4D2,BetAnySports,Kansas City Chiefs,100.0,2023-02-05T19:49:06-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
2738,8A37324E9DE2,Betfred,Kansas City Chiefs,100.0,2023-02-05T18:10:36-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
2739,8A37324E9DE2,Wind Creek,Kansas City Chiefs,100.0,2023-02-05T18:10:36-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
3438,3B3B48386FC1,Betly,Kansas City Chiefs,100.0,2023-02-02T12:13:22-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
3456,146D58216354,Betly (Ohio),Kansas City Chiefs,-104.0,2023-02-07T11:26:54-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
3522,7B27C2971654,Betly (Tennessee),Kansas City Chiefs,-102.0,2023-02-09T12:32:58-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False
3588,9AB0E33EF429,BetMGM,Kansas City Chiefs,100.0,2023-02-07T14:27:46-05:00,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,football,NFL,2023-02-12T18:30:00-05:00,Philadelphia Eagles,Kansas City Chiefs,False

In [35]:
sports_book_names1 = ["sports_book_name_"+str(i+1) for i in range(len(KansasCityChiefs['sports_book_name']))]

In [36]:
books_dict = {}
for (a, b, c) in zip(sports_book_names1,KansasCityChiefs['sports_book_name'],PhiladelphiaEagles["sports_book_name"]):
  books_dict[a] = [b,c]

In [37]:
books_DataFrame = pd.DataFrame(books_dict)
two_sided_moneyline = pd.concat([two_sided_moneyline,books_DataFrame], axis=1)

In [38]:
two_sided_moneyline

,name,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,...,sports_book_name_73,sports_book_name_74,sports_book_name_75,sports_book_name_76,sports_book_name_77,sports_book_name_78,sports_book_name_79,sports_book_name_80,sports_book_name_81,sports_book_name_82
0,Kansas City Chiefs,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,...,SuperBook,TABtouch,Tipico,Unibet,William Hill,Caesars,WynnBET,WynnBET (New York),Xbet,PointsBet (Kansas)
1,Philadelphia Eagles,NaN,True,False,1st Half Moneyline,102.0,101.0,NaN,NaN,13602-17233-23-06,...,SportsBetting.ag,SuperBook,TABtouch,Tipico,Unibet,William Hill,Caesars,WynnBET,WynnBET (New York),Xbet

In [39]:
#@title Appending the odd values
odd_names = ["odd_"+str(i+1) for i in range(len(range(len(KansasCityChiefs['price']))))]
odd_dict = {}
for (a,b,c) in zip(odd_names,KansasCityChiefs['price'],PhiladelphiaEagles['price']):
  odd_dict[a] = [b,c]

In [47]:
odd_DataFrame = pd.DataFrame(odd_dict)
two_sided_moneyline = pd.concat([two_sided_moneyline, odd_DataFrame], axis=1)
two_sided_moneyline.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Columns: 262 entries, name to odd_82
dtypes: bool(3), float64(169), object(90)
memory usage: 4.2+ KB

In [52]:
#@title to earn profit we do the market arbitrageur
## reverse of the betting center is the hedge book
hedge_names = ["hedge_book_"+str(i+1) for i in range(len(range(len(KansasCityChiefs['name']))))]
hedge_book = {}
for (a,b,c) in zip(hedge_names,KansasCityChiefs['sports_book_name'],PhiladelphiaEagles['sports_book_name']):
  hedge_book[a] = [c,b]

In [55]:
hedge_DataFrame = pd.DataFrame(hedge_book)
two_sided_moneyline = pd.concat([two_sided_moneyline, hedge_DataFrame], axis=1)
two_sided_moneyline

,name,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,...,hedge_book_73,hedge_book_74,hedge_book_75,hedge_book_76,hedge_book_77,hedge_book_78,hedge_book_79,hedge_book_80,hedge_book_81,hedge_book_82
0,Kansas City Chiefs,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,...,SportsBetting.ag,SuperBook,TABtouch,Tipico,Unibet,William Hill,Caesars,WynnBET,WynnBET (New York),Xbet
1,Philadelphia Eagles,NaN,True,False,1st Half Moneyline,102.0,101.0,NaN,NaN,13602-17233-23-06,...,SuperBook,TABtouch,Tipico,Unibet,William Hill,Caesars,WynnBET,WynnBET (New York),Xbet,PointsBet (Kansas)

In [59]:
#@title Reverse Bet using the market arbitrageur
hedge_odd = ["hedge_odd_"+str(i+1) for i in range(len(range(len(KansasCityChiefs['price']))))]
hedge_odd_dict = {}
for (a,b,c) in zip(hedge_odd,KansasCityChiefs['price'],PhiladelphiaEagles['price']):
  hedge_odd_dict[a] = [c,b]

hedge_odd_DataFrame = pd.DataFrame(hedge_odd_dict)
two_sided_moneyline = pd.concat([two_sided_moneyline, hedge_odd_DataFrame], axis=1)
two_sided_moneyline

,name,bet_points,is_main,is_live,market_name,home_rotation_number,away_rotation_number,deep_link_url,player_id,game_id,...,hedge_odd_73,hedge_odd_74,hedge_odd_75,hedge_odd_76,hedge_odd_77,hedge_odd_78,hedge_odd_79,hedge_odd_80,hedge_odd_81,hedge_odd_82
0,Kansas City Chiefs,NaN,True,False,1st Half Moneyline,NaN,NaN,NaN,NaN,13602-17233-23-06,...,-120.0,-120.0,-124.0,-120.0,-124.0,-120.0,-120.0,-120.0,-120.0,-125.0
1,Philadelphia Eagles,NaN,True,False,1st Half Moneyline,102.0,101.0,NaN,NaN,13602-17233-23-06,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,102.0,100.0

In [61]:
from google.colab import files

file_name = 'submission.xlsx'
two_sided_moneyline.to_excel(file_name)
files.download(file_name)